<aside class="left">
  {{#collection Docs.EntityList contentBinding="parentView.content.properties" classNames="properties" itemClassNames="property" itemTarget="Docs.statechart"}}
    {{content.name}}
  {{/collection}}

  {{#collection Docs.EntityList contentBinding="parentView.content.methods" classNames="methods" itemClassNames="method" itemTarget="Docs.statechart"}}
    {{content.name}}
  {{/collection}}
</aside>

<article id="class">
  <h1 id="symbol-identifier">{{content.displayName}}</h1>

  {{#if content.extendsFrom}}
    <div class="class-metadata">
      <span class="name">Extends:</span>
      <span class="value">{{extends content.extendsFrom}}</span>
    </div>
  {{/if}}

  {{#if content.overview}}
    <h2 class="section-header">Overview</h2>
    <div class="overview">
      {{{content.overview}}}
    </div>
  {{/if}}

  {{#if content.hasProperties}}
    <h2 class="section-header"> Properties </h2>

    {{#collection Docs.ClassEntityList contentBinding="parentView.parentView.content.properties" itemClassNames="symbol"}}
      <div {{bindAttr name="content.name"}}>
        {{#view SC.Button target="Docs.statechart" action="showEntity" actionContextBinding="parentView.content" classNames="header"}}
          {{actionContext.name}}
        {{/view}}

        <div class="subtitles">
          {{#if content.propertyType}}
            <span class="type">
              <span class="name">Type: </span>
              <span class="data-type" {{bindAttr name="content.propertyType"}}>
                {{content.propertyType}}
              </span>
            </span>
          {{/if}}
          {{#if content.default}}
          <span class="default">
            <span class="name">Default</span>: 
            <span class="value">{{content.default}}</span>
          </span>
          {{/if}}
        </div>

        <div class="overview">
          {{{content.overview}}}
        </div>
      </div>
    {{/collection}}
  {{/if}}

  {{#if content.hasMethods}}
    <h2 class="section-header"> Methods </h2>

    {{#collection Docs.ClassEntityList contentBinding="parentView.parentView.content.methods" itemClassNames="symbol"}}
      <div {{bindAttr name="content.name"}}>
        {{#view SC.Button target="Docs.statechart" action="showEntity" actionContextBinding="parentView.content" classNames="header"}}
          {{signature actionContext}}
        {{/view}}

        <div class="overview">

          {{#if content.isDeprecated}}
            <span class="deprecated">
              Deprecated
            </span>
          {{/if}}

          {{{content.overview}}}
        </div>

        {{returns content}}
      </div>
    {{/collection}}
  {{/if}}
</article>
