<aside class="left">
  <div class="search">
    {{view SC.TextField type="search" placeholder="Search for symbol"}}
  </div>

  <div class="list-container">
    {{#if displayController.isSearching}}

    {{else}}
      {{#collection Docs.PackagesList contentBinding="Docs.packagesController" tagName="ul"}}
        <h2>{{content.name}}</h2>

        {{collection Docs.ClassList contentBinding="parentView.content.classes" tagName="ul" itemTarget="Docs.statechart"}}
      {{/collection}}
    {{/if}}
  </div>
</aside>

<section>
  {{#swap nowShowingBinding="Docs.displayController.nowShowing"}}
    {{view Docs.IndexView name="index"}}
    {{view Docs.ClassView name="class" contentBinding="Docs.classController.content"}}
  {{/swap}}
</section>
